extends layout
block content
  head
    meta(charset="UTF-8")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(el="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    meta(name='description', content='Benbria Support Tickets Login')
  body
    nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role="navigation")

      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        if (orgId)
          a.navbar-brand(href="create") CREATE A TICKET
        else
          a.navbar-brand(href="#" id="login" data-title="Benbria Tickets" data-trigger="click" rel="popover" data-placement="bottom" data-content="You must first login to create a new Ticket. Please login or Register for an Account" data-original-tile="ticket") BENBRIA SUPPORT


      // Collect the nav links for toggling
      .collapse.navbar-collapse.navbar-ex1-collapse
        img#benbria.nav.navbar-nav.navbar-right(src="img/benbria_logo.png", hieght="100", width="100", alt="Benbria Logo")
    .jumbotron
      h1.titre Welcome to Benbria Support! 
    .container
      form.form.form-horizontal(role="form" action="userCheck" method="post" enctype="multipart/form-data")
        .form-group
          label.col-sm-2.control-label(for="inputEmail3") Email
          .col-sm-3
            input.form-control(type="text" placeholder="Email address" name="username" value="#{username}")
        .form-group
          label.col-sm-2.control-label(for="inputPassword3") Password 
          .col-sm-3
            input.form-control(type="password" placeholder="Password" name="password" value="#{password}")
          .col-sm-2
            a(href="#passwordModal" data-toggle="modal") Forgot Password?
        .form-group
          .col-sm-offset-2.col-sm-10
            .checkbox
              label
                input(type="checkbox" name="checkbox") 
                span=" Remember me"
        .form-group
          .col-sm-offset-2.col-sm-10.controls
             button.btn.btn-primary(type="submit") Sign in
      .row
        .col-sm-4.col-sm-offset-2
          a(href="#registerModal" data-toggle="modal") Register for an Account
    #contact 
      a.button(data-toggle="modal" href="#myModal") Contact Us

    div(id="passwordModal" class="modal fade in")
      .modal-dialog
        .modal-content
          .modal-header
            .button.close(data-dismiss="modal" aria-hidden="true") X
            .modal-title 
              center 
                strong PASSWORD RESET
          .modal-body
              form.form.form-horizontal(role="form" action="/passwordReset",method="post",enctype="multipart/form-data")
                .form-group
                  label.col-sm-4.control-label(for="inputEmail") Email Address:
                  .col-sm-6
                      input.form-control(type="email" placeholder="Email Address" name ="email")
                .form-group
                  .col-sm-offset-4.col-sm-6.controls
                    button.btn.btn-primary(type="submit") Submit Request
          .modal-footer
              button.btn.btn-primary(data-dismiss="modal" aria-hidden="true") Close

    div(id="registerModal" class="modal fade in")
      .modal-dialog
        .modal-content
          .modal-header
            .button.close(data-dismiss="modal" aria-hidden="true") X
            .modal-title 
              center 
                strong REGISTRATION FORM
          .modal-body
              form.form.form-horizontal(role="form" action="/registerUser",method="post",enctype="multipart/form-data")
                .form-group
                  label.col-sm-4.control-label(for="inputFirstname") First Name:
                  .col-sm-6
                    input.form-control(type="text" placeholder="First Name" name ="firstname")
                .form-group
                  label.col-sm-4.control-label(for="inputLastname") Last Name:
                  .col-sm-6
                    input.form-control(type="text" placeholder="Last Name" name="lastname")
                .form-group
                  label.col-sm-4.control-label(for="inputEmail") Email Address:
                  .col-sm-6
                      input.form-control(type="email" placeholder="Email Address" name ="email")
                .form-group
                  label.col-sm-4.control-label(for="inputOrgs") Organization(s), seperate by a comma:
                  .col-sm-6
                      input.form-control(type="text" placeholder="Companies i.e. companyA, CompanyB" name ="organization")
                .form-group
                  .col-sm-offset-4.col-sm-6.controls
                    button.btn.btn-primary(type="submit") Submit Request
          .modal-footer
              button.btn.btn-primary(data-dismiss="modal" aria-hidden="true") Close


    div(id="myModal" class="modal fade in")
      .modal-dialog
        .modal-content
          .modal-header
            .button.close(data-dismiss="modal" aria-hidden="true") X
            .modal-title CONTACT US
          .modal-body
              a#tel(href='callto:613-271-5995') 613-271-5995
              br
              a#email(href='mailto:support@benbria.com?Subject=Benbria Support') support@benbria.com
          .modal-footer
              button.btn.btn-primary(data-dismiss="modal" aria-hidden="true") Close

    div(id="userModal" class="modal fade in")
      .modal-dialog
        .modal-content
          .modal-header
            .button.close(data-dismiss="modal" aria-hidden="true") X
            .modal-title 
              h1 
                center LOGIN ERROR
          .modal-body
            p 
              center 
                h4 Error Logging On. Please try again or contact the administrator.
                br
                a#email(href='mailto:support@benbria.com?Subject=Benbria Support') support@benbria.com
          .modal-footer
              button.btn.btn-primary(data-dismiss="modal" aria-hidden="true") Close

    div(id="statusModal" class="modal fade in")
      .modal-dialog
        .modal-content
          .modal-header
            .button.close(data-dismiss="modal" aria-hidden="true") X
            .modal-title 
              h1 
                center REGISTRATION STATUS
          .modal-body
          - if (result == 200)
            p 
              center 
                h4 Registration Succesfully sent
                P An email will be sent shortly with your login credentials
          - if (result ==400)
            p 
              center 
                h4 Errror during Registration please contact mailto:support@benbria.com
          .modal-footer
              button.btn.btn-primary(data-dismiss="modal" aria-hidden="true") Close

    div(id="passRetModal" class="modal fade in")
      .modal-dialog
        .modal-content
          .modal-header
            .button.close(data-dismiss="modal" aria-hidden="true") X
            .modal-title 
              h1 
                center PASSWORD STATUS RESET
          .modal-body
            if (result == 200)
              p 
                center 
                  h4 Password Succesfully Reset
                  P An email will be sent shortly with your login credentials
            if (result == 400)
              p 
                center 
                  h4 Email is incorrect, plese try again or contact 
                  p 
                    center mailto:support@benbria.com
          .modal-footer
              button.btn.btn-primary(data-dismiss="modal" aria-hidden="true") Close

    #passModal(data-toggle="modal" href="#passRetModal")
    #regModal(data-toggle="modal" href="#statusModal")
    #retModal(data-toggle="modal" href="#userModal")
    script.

      console.log(!{result}+" status: "+!{passModal})

      if (!{showModal}) $("#retModal").click()

      if (!{regModal})  $("#registerModal").modal("hide") 

      if (!{regModal}) $("#regModal").click() 

      if (!{passModal})  $("#passwordModal").modal("hide") 

      if (!{passModal}) $("#passModal").click() 

      $(function ()  
      { $("#login").popover();  
      });
    
